(
  resources: {
    "sipho_core::team::TeamConfig": TeamConfig(
      player_team: Blue,
    ),
    "sipho_core::grid::fog::FogConfig": FogConfig(
      visibility_radius: 8,
      fog_radius: 6,
    ),
    "sipho_core::grid::spec::GridSpec": GridSpec(
      rows: 256,
      cols: 256,
      width: 64.0,
      visualize: false,
      visualize_navigation: false,
    ),
    "sipho_core::inputs::InputConfig": InputConfig(
      keyboard: {
        Digit1: Control1,
        Digit2: Control2,
        Digit3: Control3,
        Digit4: Control4,

        KeyQ: Grid11,
        KeyW: Grid12,
        KeyE: Grid13,
        KeyR: Grid14,

        KeyA: Grid21,
        KeyS: Grid22,
        KeyD: Grid23,
        KeyF: Grid24,

        KeyZ: Grid31,
        KeyX: Grid32,
        KeyC: Grid33,
        KeyV: Grid34,

        Minus: SpawnRed,
        Equal: SpawnBlue,
        KeyL: SpawnShocker,
        Escape: PauseMenu,
        KeyO: Fuse,
      },
      mouse: {
        Left: Primary,
        Right: Secondary,
        Middle: DragCamera,
      }
    ),
    "sipho_core::grid::obstacles::ObstaclesSpec": ([]),
    "sipho::objects::config::ObjectConfigs": ObjectConfigs({
      Worker: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 5.5,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 256.0,
        nav_flow_factor: 1.0,
        attack_velocity: 20.,
        attack_radius: 128.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 32.0,
          slow_factor: 0.1,
        ),
        radius: 12.0,
        health: 6,
        idle_speed: 0.2,
        interactions: InteractionConfigs({
          Worker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 5.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Shocker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Armor: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Head: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 5.,
            cohesion_force: 0.0,
            alignment_factor: 0.05,
            damage_amount: 1,
          ),
          Plankton: InteractionConfig(
            separation_radius: 10.0,
            separation_force: 0.1,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 1,
          ),
          GemStone: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 1.0,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 1,
          )
        }),
        controls: ObjectControlConfig({
          Grid21: Attack
        })
      ),
      Shocker: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 5.5,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 256.0,
        nav_flow_factor: 1.0,
        attack_velocity: 20.,
        attack_radius: 196.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 32.0,
          slow_factor: 0.2,
        ),
        radius: 20.0,
        health: 2,
        idle_speed: 0.2,
        interactions: InteractionConfigs({
          Worker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 2,
          ),
          Shocker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 2,
          ),
          Armor: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 2,
          ),
          Head: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 5.,
            cohesion_force: 0.0,
            alignment_factor: 0.05,
            damage_amount: 2,
          ),
          Plankton: InteractionConfig(
            separation_radius: 10.0,
            separation_force: 0.1,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 1,
          ),
          GemStone: InteractionConfig(
            separation_radius: 10.0,
            separation_force: 0.1,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 1,
          )
          
        }),
        controls: ObjectControlConfig({
          Grid21: Attack
        })
      ),
      Armor: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 3.5,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 128.0,
        nav_flow_factor: 1.0,
        attack_velocity: 20.,
        attack_radius: 128.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 32.0,
          slow_factor: 0.2,
        ),
        radius: 18.0,
        health: 10,
        idle_speed: 0.2,
        interactions: InteractionConfigs({
          Worker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Shocker: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Armor: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 3.0,
            cohesion_force: 0.0,
            alignment_factor: 0.5,
            damage_amount: 1,
          ),
          Head: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 5.,
            cohesion_force: 0.0,
            alignment_factor: 0.05,
            damage_amount: 1,
          ),
          Plankton: InteractionConfig(
            separation_radius: 10.0,
            separation_force: 0.1,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 1,
          )
        }),
        controls: ObjectControlConfig({
          Grid21: Attack
        })
      ),
      Head: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 4.5,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 128.0,
        nav_flow_factor: 5.,
        attack_velocity: 0.,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 32.0,
          slow_factor: 0.05,
        ),
        radius: 40.0,
        health: 10,
        idle_speed: 0.3,
        interactions: InteractionConfigs({
          Worker: InteractionConfig(
            separation_radius: 16.0,
            separation_force: 1.,
            cohesion_force: 0.0,
            alignment_factor: 0.1,
            damage_amount: 0,
          ),
          Head: InteractionConfig(
            separation_radius: 100.0,
            separation_force: 2.,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: InteractionConfig(
            separation_radius: 100.0,
            separation_force: 0.5,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 0,
          )
        }),
        controls: ObjectControlConfig({
          Grid11: Worker,
          Grid12: Armor,
          Grid13: Shocker,
          Grid21: Attack,
          Grid31: Grow
        })
      ),
      Plankton: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 1.0,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 128.0,
        nav_flow_factor: 1.,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 12.0,
        health: 10,
        idle_speed: 0.2,
        interactions: InteractionConfigs({
          Worker: InteractionConfig(
            separation_radius: 100.0,
            separation_force: 0.05,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 0,
          ),
          Head: InteractionConfig(
            separation_radius: 100.0,
            separation_force: 0.05,
            cohesion_force: 0.0,
            alignment_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: InteractionConfig(
            separation_radius: 20.0,
            separation_force: 1.00,
            cohesion_force: 0.00,
            alignment_factor: 0.2,
            damage_amount: 0,
          )
        }),
        controls: ObjectControlConfig({
          Grid21: Attack
        })
      ),
      Food: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 6.0,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 128.0,
        nav_flow_factor: 1.,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 12.0,
        health: 1,
        idle_speed: 0.2,
        interactions: InteractionConfigs({}),
        controls: ObjectControlConfig({})
      ),
      Gem: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 3.0,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 32.0,
        nav_flow_factor: 1.,
        attack_velocity: 0.0,
        attack_radius: 32.0,
        spawn_velocity: 2.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 12.0,
        health: 1,
        idle_speed: 0.0,
        interactions: InteractionConfigs({
          Gem: InteractionConfig(
            separation_radius: 10.0,
            separation_force: 0.50,
            cohesion_force: 0.00,
            alignment_factor: 0.2,
            damage_amount: 0,
          )}),
        controls: ObjectControlConfig({})
      ),
      GemStone: ObjectConfig(
        physics_material: PhysicsMaterial(
          max_velocity: 0.01,
          velocity_smoothing: 0.5,
        ),
        neighbor_radius: 128.0,
        nav_flow_factor: 1.,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 0.0,
        spawn_cost: 4,
        objective: ObjectiveConfig(
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 100.0,
        health: 50,
        idle_speed: 0.01,
        interactions: InteractionConfigs({}),
        controls: ObjectControlConfig({})
      )
    }),
  },
  entities: {},
)
