(
  resources: {
    "sipho::objects::config::ObjectConfigs": ({
      Worker: (
        physics_material: Zooid,
        neighbor_radius: 128.0,
        obstacle_acceleration: 6.0,
        nav_flow_factor: 1.0,
        attack_velocity: 16.0,
        attack_radius: 128.0,
        spawn_velocity: 10.0,
        objective: (
          repell_radius: 32.0,
          slow_factor: 0.2,
        ),
        radius: 12.0,
        health: 3,
        death_speed: 5.0,
        idle_speed: 0.5,
        spawn_cost: 4,
        interactions: ({
          Worker: (
            separation_radius: 20.0,
            separation_acceleration: 2.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.5,
            slow_factor: 0.0,
            damage_amount: 1,
          ),
          Head: (
            separation_radius: 20.0,
            separation_acceleration: 5.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.05,
            slow_factor: 0.1,
            damage_amount: 0,
          ),
          Food: (
            separation_radius: 1.0,
            separation_acceleration: 0.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: (
            separation_radius: 10.0,
            separation_acceleration: 0.1,
            cohesion_acceleration: 0.1,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
        }),
      ),
      Head: (
        physics_material: SlowZooid,
        neighbor_radius: 128.0,
        obstacle_acceleration: 3.0,
        nav_flow_factor: 1.0,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        objective: (
          repell_radius: 32.0,
          slow_factor: 0.2,
        ),
        radius: 30.0,
        health: 4,
        death_speed: 5.0,
        idle_speed: 0.5,
        spawn_cost: 4,
        interactions: ({
          Worker: (
            separation_radius: 16.0,
            separation_acceleration: 1.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.1,
            slow_factor: 0.0,
            damage_amount: 1,
          ),
          Head: (
            separation_radius: 100.0,
            separation_acceleration: 10.5,
            cohesion_acceleration: 0.1,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Food: (
            separation_radius: 1.0,
            separation_acceleration: 0.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: (
            separation_radius: 100.0,
            separation_acceleration: 0.5,
            cohesion_acceleration: 0.1,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
        }),
      ),
      Food: (
        physics_material: Zooid,
        neighbor_radius: 128.0,
        obstacle_acceleration: 3.0,
        nav_flow_factor: 1.0,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        objective: (
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 12.0,
        health: 1,
        death_speed: 5.0,
        idle_speed: 0.5,
        spawn_cost: 4,
        interactions: ({
          Worker: (
            separation_radius: 100.0,
            separation_acceleration: 0.05,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Head: (
            separation_radius: 100.0,
            separation_acceleration: 0.05,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 1,
          ),
          Food: (
            separation_radius: 1.0,
            separation_acceleration: 0.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: (
            separation_radius: 20.0,
            separation_acceleration: 1.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.2,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
        }),
      ),
      Plankton: (
        physics_material: Plankton,
        neighbor_radius: 128.0,
        obstacle_acceleration: 3.0,
        nav_flow_factor: 1.0,
        attack_velocity: 0.0,
        attack_radius: 265.0,
        spawn_velocity: 2.0,
        objective: (
          repell_radius: 0.0,
          slow_factor: 0.0,
        ),
        radius: 12.0,
        health: 1,
        death_speed: 5.0,
        idle_speed: 0.5,
        spawn_cost: 4,
        interactions: ({
          Worker: (
            separation_radius: 100.0,
            separation_acceleration: 0.05,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 1,
          ),
          Head: (
            separation_radius: 100.0,
            separation_acceleration: 0.05,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Food: (
            separation_radius: 1.0,
            separation_acceleration: 0.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.0,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
          Plankton: (
            separation_radius: 20.0,
            separation_acceleration: 1.0,
            cohesion_acceleration: 0.0,
            alignment_factor: 0.2,
            slow_factor: 0.0,
            damage_amount: 0,
          ),
        }),
      ),
    }),
  },
  entities: {},
)